<%= form_for([:admin, @feed]) do |f| %>
  <% if @feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed.errors.count, "error") %> prohibited this feed from being saved:</h2>
      <ul>
      <% @feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% plugins = Plugin.getAll %>
  <% plugins << ['Other plugin'] %>
  <% Plugin.getAll %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field_content">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :plugin %><br />
    <%= f.select :plugin_id, options_for_select(plugins, :selected => @feed.plugin_id), {} %>
    <div id="uploadfileplace">
      <input id="fileupload" type="file" name="file" data-url="http://localhost:3000/admin/pluginsave/saveFile/" />
      <div id="progress">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
